@page "/"

<h1>Hello, fellow Lumenaut!</h1>

<p>this is the intro page for vGems </p>


<div>
    <h3>Gems</h3>

    @foreach (var gem in gems)
    {
        <p> Name: <b>@gem.Name</b></p>
        <p> Price: <b>@gem.Price</b></p>
        <p> Description: <b>@gem.Description</b></p>

    }

</div>


@code{

    List<Gem> gems;

    protected override void OnInitialized()
    {

        gems = new List<Gem>() {
            new Gem()
            {
                Name = "Diamond",
                Price = 10,
                Description = "The most precious gem on this site. The market cap is fixed at 10 thousand.",
                Id = 1
            },
            new Gem()
            {
                Name = "Ruby",
                Price = 1,
                Description = "The second most precious gem on this site. The market cap is fixed at 100 thousand.",
                Id = 2
            },
            new Gem()
            {
                Name = "Emerald",
                Price = 0.20,
                Description = "The third most precious gem on this site. The market cap is fixed at 500 thousand.",
                Id = 3
            },

            new Gem()
            {
                Name = "Sapphire",
                Price = 0.10,
                Description = "The fourth most precious gem on this site. The market cap is fixed at one million.",
                Id = 4
            },



        };
    }


}
 


